```
# Dependencies
node_modules/

# Logs and temp files
log/
*.log
*.tmp
*.exe
*.txt

# Environment
.env
.env.local
*.env.*
*.pem

# Editors
.vscode/
.idea/

# Build outputs
dist/
build/

# Archives
.zip
.Backup/

```